@font-face {
  font-family: honeyBee;
  src: url('/HexgonBold.otf');
}

.header {
  overflow: hidden;
  background-image: url('/background2.jpg');
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 2px solid black;
}

/* Style the header text */
.header a {
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the header's header1 text*/
.header h1 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
  font-family: honeyBee;
}

#usernameLabel {
  margin: 0.25em;
}

/* Float the link section to the right, display contents as grid */
.header-right {
  float: right;
  display: grid;
  grid-template: auto auto;
  justify-content: space-between;
  padding-right: 10px;
}

.header-left {
  float: left;
  display: grid;
  grid-template: auto auto;
  justify-content: space-between;
  padding-left: 10px;
  padding-bottom: 10px;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  .header-left {
    float: none;
  }

  .dropdown a:hover {
    display: block;
  }
}

.userbox {
  font-weight: 1;
  float: inline-end;
  background-color: #ffbf00;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 0.5em;
  height: min-content;
}

button {
  font-weight: 1;
  float: inline-end;
  background-color: #ffbf00;
  border-radius: 10px;
  height: max-content;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

button.signout {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.userbox h2 {
  font-weight: 1;
  top: 0;
  text-align: center;
}

.userbox a {
  font-weight: 1;
  bottom: 0;
  text-align: center;
}

.dropdown {
  display: flex;
  justify-content: space-between;
}

.signin {
  padding-right: 10px;
}

.username {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  box-sizing: border-box;
}

/* The Basket Button */

button.pot {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  width: 65px;
  height: 85px;
  float: inline-start;
}

.basket {
  overflow: hidden;
  position: absolute;
  top: 40px;
}

.honey-pot-1 {
  width: 65px;
  height: 70px;
  position: absolute;
  left: 0;
}

.honey-pot-1:hover {
  opacity: 0%;
}

.honey-pot-2 {
  width: 65px;
  height: 85px;
  position: absolute;
  left: 0;
  opacity: 0%;
}

.honey-pot-2:hover {
  opacity: 100%;
}

.honey-pot-3 {
  width: 50px;
  height: 70px;
  position: absolute;
  left: 9px;
  top: 35px;
}
