@font-face {
  font-family: BeeFont; /* set name */
  src: url('/bee_font.ttf'); /* url of the font */
}

dialog {
  border-radius: 10px;
  background-color: rgb(235, 235, 235);
  min-width: 20em;
  border: none;
  box-sizing: border-box;
  padding-bottom: 2rem;
  transform: translateY(10em);
  background-color: #ffbf00;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  background: #d97c0b;
  background: linear-gradient(
    0deg,
    rgba(217, 124, 11, 1) 1%,
    rgba(255, 185, 99, 1) 29%,
    rgba(217, 124, 11, 1) 88%,
    rgba(255, 182, 64, 1) 100%
  );
  padding: 2.5rem;
  z-index: 2000000;
}

h2 {
  margin: 0;
  font-size: 20pt;
}

b {
  font-size: 15.5pt;
}
