<div class="maxbox">
  <div id="recover-account-container">
    <span id="user-span" *ngIf="!verified">
      <h3 style="margin: 1em; margin-bottom: 0">We're Here to Help!</h3>
      <h5 style="margin: 0.3em">We'll just need some information from you...</h5>
      <span>
        <label for="username"> Username: </label>
        <input id="username" type="text" [(ngModel)]="userName" />
      </span>
        <span class="question-input">
          <div>What is your date of birth?</div>
          <input type="text" [(ngModel)]="answer1" />
        </span>
        <span class="question-input">
          <div>What is your mother's maiden name?</div>
          <input type="text" [(ngModel)]="answer2" />
        </span>
      <span id="submit-box">
        <button id="login-return" (click)="onReturnClick()">Return to login page</button>
        <button (click)="onSubmit()">Recover Account</button>
        <div id="error-text"></div>
      </span>
    </span>
    <span id="user-span" *ngIf="verified">
      <h3 style="margin: 1em; margin-bottom: 0">We're Here to Help!</h3>
      <h5 style="margin: 0.3em">You've been verified, please enter a new password!</h5>
      <span>
        <label for="create-user-password"> New Password: </label>
        <input id="create-user-password" type="text" [(ngModel)]="newPass" />
      </span>
      <span>
        <label for="create-user-password"> Repeat Password: </label>
        <input id="create-user-password" type="password" [(ngModel)]="verifyPass" />
      </span>
      <span id="submit-box">
        <button (click)="onRecover()">Update Password</button>
        <div id="error-text"></div>
      </span>
    </span>
  </div>
</div>