.maxbox {
  background-image: url(/background2.jpg);
  height: 100vh;
}

#recover-account-container {
  display: flex;
  justify-content: center;
  padding-top: 17em;
}

#user-span {
  background: linear-gradient(
    0deg,
    rgba(217, 124, 11, 1) 1%,
    rgba(255, 185, 99, 1) 29%,
    rgba(217, 124, 11, 1) 88%,
    rgba(255, 182, 64, 1) 100%
  );
  padding: 0.35em;
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
  border-radius: 0.5em;
  max-width: 20em;
  gap: 0.25em;
  flex-flow: row wrap;
  padding-bottom: 1em;
}

#error-text {
  margin: 0;
  color: red;
  font-weight: bold;
  text-align: center;
}

#login-return {
  text-align: center;
}

#error-box {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  max-width: 15em;
  margin-top: 0.5em;
  gap: 0.5em;
}

#submit-box {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  max-width: 15em;
  margin-top: 0.5em;
  gap: 0.5em;
}

#user-span button {
  padding: 0.25em;
  background-color: orange;
}

.question-input {
  width: 100%;
  flex:auto;
  display: flex;
  flex-direction: column;
}
